@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}
body{
    text-align: center;
    min-height: 380vh;
    color: white;
    background-color: black;
}

.header{
    height: 8vh;
    width: 100%;
    background-color: rgb(72, 72, 72);
    position: fixed;
    z-index: 5;
    opacity: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header h1{
    font-size: 120%;
    width: 100%;
    color: rgb(255, 255, 255);
    height: 7.5vh;
    font-family: 'Montserrat', sans-serif;
    margin-top: 3%;
}
.header h{
    background-color: rgb(0, 0, 0);
    height:8vh;
    width: 2.5%;
}

.h11{
   width: 100%;
   cursor: pointer;
   
}

.h22{
    width: 100%;
    cursor: pointer;
}

.h11:hover{
    background-color: rgb(103, 101, 101);

}
.h22:hover{
    background-color: rgb(103, 101, 101);
}



::-webkit-scrollbar-track {
    background-color: #000000;
}
::-webkit-scrollbar {
    width: 2.5vh;
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255);
    border-radius: 15px;
    height: 0.5vh;
}
main{
    display: flex;
    justify-content: center;
    align-items: space-between;
    position: relative;
	min-height: 100%;
    background:rgb(43, 7, 62) 
            url('https://upload.wikimedia.org/wikipedia/commons/c/cc/Digital_rain_animation_medium_letters_shine.gif') 
            repeat bottom center;
    animation:move-stars 200s linear infinite;
    width: 100%;
    height: 95vh;
    
}

@keyframes move-stars {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
.nome{
    position: absolute;
    font-size: 280%;
    margin-top: 10vh;
    text-shadow:  0 0 10px rgb(0, 0, 0),
    0 0 0px  #000000; 
}


.foto-minha{
    position:absolute;
    border-radius: 60%;
    max-width: 45vh;
    margin-top: 32vh;
    cursor: pointer;
    opacity: 100%;
    border: 1px solid rgb(71, 71, 71);
    box-shadow:  0 0 10px rgb(65, 65, 65),
     0 0 2.5px  #000000;
}


main p{
    position: absolute;
    font-size: 120%;
    margin-top: 20vh;
    text-shadow:  0 0 10px rgb(57, 52, 52),
    0 0 0px  #222121;
}

.vermais{
    
    margin-top: 82vh;
    max-width: 9%;
    background-color: transparent;
    border-radius: 360%;
    opacity: 90%;
    cursor: pointer;
    
}


.vermais2{ 
    
    margin-top: 4.8%;
    max-width: 4.8%;
    background-color: transparent;
    border-radius: 360%;
    opacity: 90%;
    cursor: pointer;
}


.vao{
    height: 0.5vh;
    background-color: rgb(90, 79, 79);
}
.sobre{
    background-color: rgb(0, 0, 0) ;
    color: white;
    position: relative;
    padding-bottom: 2.5%;
}
.sobre h1{
    position: absolute;
    font-size: 185%;
    margin-top: 5%;
    margin-left: 43.5%;
    text-shadow:  0 0 10px rgb(57, 52, 52),
    0 0 0px  #222121;
}
.sobre_imgs img{
    max-width: 13%;
    border: 1px solid rgb(42, 39, 39);
    box-shadow:  0 0 10px rgb(57, 52, 52),
     0 0 2.5px  #222121;
    margin-top: 12%;
    border-radius: 60%;
}
.sobre_imgs{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sobre_descricao{
    margin: 1.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sobre_texto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 85%;
}
.sobre1{
    margin-left: 12%;
}
.sobre3{
    margin-right: 12%;
}


.sobre_descricao h2{
    font-size: 140%;
    margin-left: 13.5%;
}
.sobre_descricao h3{
    font-size: 150%;
}
.sobre_descricao h4{
    font-size: 150%;
    margin-right: 11%;
}
.sobre p1{
    margin-left: 6%;
    max-width: 25%;
}
.sobre p2{
    max-width: 25%;
}
.sobre p3{
    margin-right: 6%;
    max-width: 300%;
    max-width: 25%;
}

.sobre a{
    width: 2%;
    height: 2%;
}


.projetos h1{
    margin-top: 20%;
}
